<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/Event/etc/events.xsd">
    <event name="layout_generate_blocks_after">
        <observer name="hibrido_add_button_color_css" instance="Hibrido\ThemeCustomizer\Observer\AddButtonColorCss" />
    </event>
</config>
